.Game-board {
    border: 4px solid rgba(112, 9, 31, 0.5);
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(20, 1fr);

}

.GameBoard-square {
width: 20px;
height: 20px;
background-color: rgb(3, 0, 1);
}

.invader {
    background-image: url('../media/alien.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.spaceship {
    background-image: url('../media/spaceshuttle.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%;
}

.laser {
    background-color: red;
    border-radius: 50%;
}