@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

.App-shooting-star-1, .App-shooting-star-2 {
  background-color: aliceblue;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-bottom: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .App-shooting-star-1 {
    animation: App-star-move-1 infinite 20s linear;
  }
  .App-shooting-star-2 {
    animation: App-star-move-2 infinite 25s linear;
  }
}

.App-header {
  background-color: #1c1520;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: #E83D16;
  font-family: 'Major Mono Display', monospace;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
}

.App-start-button {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 10px 15px;
  font-size: calc(20px + 2vmin);
  color: #e0c6c0;
  transition: 200ms all ease-in-out;
  font-family: 'Major Mono Display', monospace;
  letter-spacing: 1px;
}

.App-start-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 35px;
  color: #b3857b;
  box-shadow: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-star-move-1 {
  0% {
    transform: translateX(-200px) translateY(50px);

  }
  50% {
    transform: translateX(200px) translateY(-100px);
  }
  100% {
    transform: translateX(-200px) translateY(50px);
  }
}

@keyframes App-star-move-2 {
  0% {
    transform: translateX(200px) translateY(0px);

  }
  50% {
    transform: translateX(-200px) translateY(50px);
  }
  100% {
    transform: translateX(200px) translateY(0px);
  }
}


